<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    [imageSrc]="'../../../assets/iconos/html.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    
    
    [showSubtitle]="false"
  ></circle-progress>

  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    [imageSrc]="'../../../assets/iconos/CSS.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [showUnits]="false"
    
    
    [showSubtitle]="false"
  ></circle-progress>

  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    [imageSrc]="'../../../assets/iconos/js.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    
    
    [showSubtitle]="false"
  ></circle-progress>

  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="100"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    [imageSrc]="'../../../assets/iconos/git.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    
    
    [showSubtitle]="false"
  ></circle-progress>

  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    [imageSrc]="'../../../assets/iconos/eng.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    
    
    [showSubtitle]="false"
  ></circle-progress>

  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    [imageSrc]="'../../../assets/iconos/grupal.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showUnits]="false"
    
    
    [showSubtitle]="false"
  ></circle-progress>

  </div>
   
</div>
